
{% extends "base.html" %}

{% block content %}

    
    	<div class="container">
    		<div class="row">
    			<div class="span-12">
    				<div class="page-header">
		     			<h1>UV-CDAT: Exploratory Analysis</h1>
		   			</div>
		   		
    			</div>
	    		
    		</div>
    		<div class="row">
    			<div class="col-md-12">
					<p class="lead">This website is a rapid prototype to illustrate what is possible
		    		for a web-enabled climate data analysis framework.  This prototype uses a responsive CSS and HTML 
				framework (called Bootstrap) and D3.js so that it adapts to your viewport and device.
    			</div>
    		</div>
    		

		</div>
    
    
	
    
{% endblock %}
