<BODY>
	<TABLE>
		<TH><A HREF="http://www.cgd.ucar.edu/tss/clm/diagnostics/index.html"> <font color=blue>LND_DIAG Diagnostics Plots</font></A><font color=black>Source: /tmp/proj/cli017/cli017bgc/y9s/lnd_diag
	</TABLE>
	<hr noshade size=2 size="100%">
	<TABLE>
		<TR>
			<TH><font color=red>Set</font><TH ALIGN=LEFT><font color=red>Description</font>
			<TR>
				<TH>1 <TH ALIGN=LEFT><a class="classic_toggle_sets" id="classicland_set1" href="#"> Line plots</A> of annual trends in energy balance, soil water/ice and temperature, runoff, snow water/ice, photosynthesis </b>
				<br>
				<TR>
					<TH>2 <TH ALIGN=LEFT> Horizontal <a class="classic_toggle_sets" id="classicland_set2" href="#">contour plots</A> of DJF, MAM, JJA, SON, and ANN means </b>
					<br>
					<TR>
						<TH>3 <TH ALIGN=LEFT><a class="classic_toggle_sets" id="classicland_set3"  href="#">Line plots</A> of monthly climatology: regional air temperature, precipitation, runoff, snow depth, radiative fluxes, and turbulent fluxes </b>
						<br>
						<TR>
							<TH>4 <TH ALIGN=LEFT><span style="font-style:italic; font-weight: bold; color: rgb(255,0,0);">(Inactive)</span> Vertical profiles at selected land raobs stations </b>
							<br>
							<TR>
								<TH>5 <TH ALIGN=LEFT><a class="classic_toggle_sets" id="classicland_set5"  href="#">Tables</A> of annual means </b>
								<br>
								<TR>
									<TH>6 <TH ALIGN=LEFT><a class="classic_toggle_sets" id="classicland_set6" href="#">Line plots</A> of annual trends in regional soil water/ice and temperature, runoff, snow water/ice, photosynthesis </b>
									<br>
									<TR>
										<TH>7 <TH ALIGN=LEFT><a class="classic_toggle_sets" id="classicland_set7" href="#">Line plots, tables, and maps</A> of RTM river flow and discharge to oceans </b>
										<br>
										<TR>
											<TH>8 <TH ALIGN=LEFT><span style="font-style:italic; font-weight: bold; color: rgb(255,0,0);">(Inactive)</span> Line and contour plots of Ocean/Land/Atmosphere CO2 exchange</b>
											<br>
											<TR>
												<TH>9 <TH ALIGN=LEFT><a class="classic_toggle_sets" id="classicland_set9" href="#">Contour plots</A> and statistics for precipitation and temperature. Statistics include DJF, JJA, and ANN biases, and RMSE, correlation and standard deviation of the annual cycle relative to observations</b>
												<br>
												<TR>

	</table>
	<hr noshade size=2 size="100%">
	<em>Click on Plot Type</em></b>
	<p>
		<a class="classic_figure_sets" id="figure_set1" href="#"><img src="/static/exploratory_analysis/img/classic/SET1sn.gif" align=left border=1 hspace=1 alt="Set 1"></a>
		<a class="classic_figure_sets" id="figure_set2" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET2sn.gif" align=left border=1 hspace=1 alt="Set 2"></a>
		<a class="classic_figure_sets" id="figure_set3" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET3s.gif" align=left border=1 hspace=1 alt="Set 3"></a>
		<a class="classic_figure_sets" id="figure_set6" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET6sn.gif" align=left border=1 hspace=1 alt="Set 6"></a>
		<a class="classic_figure_sets" id="figure_set7" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET7sn.gif" align=left border=1 hspace=1 alt="Set 7"></a>

		<br clear=left>
	<p>
		<br clear=left>
	<p>
</BODY>