{% load staticfiles %}

<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
		<meta content="utf-8" http-equiv="encoding" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<link rel="shortcut icon" href="./ico/favicon.png" />

		<title>UV-CDAT:EA Prototype</title>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'exploratory_analysis/css/bootstrap/bootstrap.css' %}" rel="stylesheet" />
		<link href="{% static 'exploratory_analysis/css/sticky-footer-navbar.css' %}" rel="stylesheet" />
		<link href="{% static 'exploratory_analysis/css/navbar-fixed-top.css' %}" rel="stylesheet" />
		<link href="{% static 'exploratory_analysis/css/grid.css' %}" rel="stylesheet" />


		<link href="{% static 'exploratory_analysis/css/heatmap/colorbrewer.css' %}" rel="stylesheet" />
		<link href="{% static 'exploratory_analysis/css/heatmap/tipsy.css' %}" rel="stylesheet" />
		<link href="{% static 'exploratory_analysis/css/heatmap/overlay-apple.css' %}" rel="stylesheet" />
		<script src="{% static 'exploratory_analysis/js/jquery/jquery-1.10.2.min.js' %}"></script>
		<!--  
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>  		
		<script type="text/javascript" src="http://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>  
		<script type="text/javascript" src="//cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.min.js"></script>  
		-->
		<link href="{% static 'exploratory_analysis/css/heatmap/jquery.multiselect.css' %}" rel="stylesheet" />
		<link href="{% static 'exploratory_analysis/css/heatmap/jquery.multiselect.filter.css' %}" rel="stylesheet" />
		
		<script type="text/javascript" src="{% static 'exploratory_analysis/js/core.js' %}"></script>
		

		<style type="text/css">
			html {
				overflow-y: scroll;
			}

			.node circle {
				cursor: pointer;
				fill: #fff;
				stroke: steelblue;
				stroke-width: 1.5px;
			}

			.node text {
				font-size: 11px;
			}

			path.link {
				fill: none;
				stroke: #ccc;
				stroke-width: 1.5px;
			}

			.axis path, .axis line {
				fill: none;
				stroke: #000;
				shape-rendering: crispEdges;
			}

			
			.x.axis path {
				display: none;
			}

			.line {
				fill: none;
				stroke: steelblue;
				stroke-width: 1.5px;
			}

			.overlay {
				fill: none;
				pointer-events: all;
			}

			.focus circle {
				fill: none;
				stroke: black;
			}

			.focus line {
				fill: none;
				stroke: black;
				stroke-width: 1;
			}


			.hiddentext {
				display:none 
			}
		</style>

	</head>

	<body>

		
		<div class="hiddentext">
			<br>
			Username: <span id="username_posted">{{username}}</span>
		
		</div>
     

		<!-- Wrap all page content here -->
		<div id="wrap">

			<!-- Fixed navbar -->
			<div class="navbar navbar-inverse navbar-fixed-top">

				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">UV-CDAT:EA</a>
					</div>

					<div class="collapse navbar-collapse">

						<ul class="nav navbar-nav">

							
					<!--			<li class="active">
									<a href="#" id="home_link">Home</a>
					</li> -->
								
							{% if loggedIn == "True" %}
							
					<!--			<li>
									<a href="#" id="geo_link">Geo</a>
								</li>
								<li>
									<a href="#" id="tree_link">Diagnostics Tree</a>
								</li>
								<li>
									<a href="#" id="heatmap_link">Heatmap</a>
								</li> -->
								<li>
									<a href="#" id="classic_link">Classic</a>
								</li>
								<li>
									<a href="#" id="logout_link">Logout</a>
								</li> 
								
							    {% if username == "i7j" or username == "bs1" or username == "8xo" %}
							    
									<li>
										<a href="#" id="tree_link">Diagnostics Tree</a>
									</li>
									<li>
										<a href="#" id="heatmap_link">Heatmaps</a>
										
								{% endif %}
								
							{% else %}
							
								<li>
									<a href="#" id="login_link">Login</a>
								</li> 
							
							
							{% endif %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{% if loggedIn == "True" %}
							<li>
								<a href="#" id="stamp">user: https://esg.ccs.ornl.gov/esgf-idp/openid/{{username}}</a>
							</li>
							{% endif %}
						</ul>

					</div>
					
				</div>

			</div>

			<!-- <div id="content">  -->
			{% block content %}{% endblock %}
			<!-- </div>  -->

		</div>



		<script src="{% static 'exploratory_analysis/js/bootstrap/bootstrap.min.js' %}"></script>
		<script src="{% static 'exploratory_analysis/js/bootstrap/bootstrap-combobox.js' %}"></script>




<!-- 
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
 -->
<link rel="stylesheet" type="text/css" href="{% static 'exploratory_analysis/css/jquery/jquery-ui.css' %}" />
 
<!-- 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  -->
<script type="text/javascript" src="{% static 'exploratory_analysis/js/jquery/jquery-ui.min.js' %}"></script>
	
	
<script type="text/javascript">

$(document).ready(function(){

	
	var username = $('#username_posted').html();
	
	$('#heatmap_link').click(function(){
		location.href = 'http://' + EA.host + ':' + EA.port + '/exploratory_analysis/heatmap/' + username;
	});
	
	
	$('#classic_link').click(function(){
		location.href = 'http://' + EA.host + ':' + EA.port + '/exploratory_analysis/classic/' + username;
	});
	
	$('#login_link').click(function(){
		
		location.href = "http://" + EA.host + ":" + EA.port + "/exploratory_analysis/login";
	});
	
	$('#logout_link').click(function(){
		location.href = "http://" + EA.host + ":" + EA.port + "/exploratory_analysis/logout";
	});
	
	$('#home_link').click(function(){
		location.href = "http://" + EA.host + ":" + EA.port + "/exploratory_analysis";
	});
	
	
	
	$('#geo_link').click(function() {
		
		location.href='http://' + EA.host + ':' + EA.port + '/exploratory_analysis/maps/' + username;
	});
	
	
	$('#tree_link').click(function(){
		
		location.href = "http://" + EA.host + ":" + EA.port + "/exploratory_analysis/treeex/" + username;
		
	});
	
});
	


</script>
	</body>

</html>

<!--
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-39778348-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
-->

<!--
<div id="footer">
<div class="container">
<p class="text-muted credit"><a href="http://cda.ornl.gov/steed/personal/">Chad A.&nbspSteed</a>, Oak Ridge National Lab, Computational Sciences and Engineering Division.</p>
</div>
</div>
-->
