{% extends "base.html" %}


{% load staticfiles %}
	

{% block content %}
<style>

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.thumbnail {
    display:block;
    padding:4px;
    overflow:hidden;
}

.thumbnail{
    width:225px;
    height:225px;
    overflow:hidden;
    padding:4px;
    display:block;
}

.thumbnail1 img {
    display:block;
    max-height:100%;
    max-width:100%;
    border:0;
}


svg {
  overflow-x:visible;
}


.hiddentext {
	display:none
}

.hiddenfunctionality {
	display:none 
}

ul.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 300px;
    overflow-y: scroll;
}

#myModal1 {

	margin-top: 150px
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#modal1 {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #modal1 {
    display: block;
}

</style>

<body>
	<!-- overlay blocking user input while backend is crunching numbers -->
	<div class="modal" id="modal1"></div>
 

<div class="container-fluid">
	
	<div class="row-fluid">
	
		<div class="hiddentext">
			CachedFile: <span id="CachedFile" >{{ cachedfile }}</span>
			<br>
			TreeFile: <span id="treeFile">{{ treefile }}</span>
			<br>
			CurrentBookmark: <span id="current_bookmark">{{ current_bookmark }}</span>
			<br>
			Tree Loaded: <span id="treeloaded">{{ treeloaded }}</span>
			<br>
			Username: <span id="username_posted">{{username}}</span>
		
		</div>
     </div>

	<span id="mapview_username" style="display:none">{{username}}</span>


	<div class="row">
		<div class="col-md-12">
			
			<div class="modal" id="myModal">
				<div class="modal-dialog" style="width:800px;">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			          <h4 class="modal-title" id="modal-title"></h4>
			        </div><div class="container"></div>
			        <div class="modal-body">
			          
			        </div>
			        <hr>
			        <div class="checkbox" style="margin-left:20px">
					  <label>
					    <input type="checkbox"> Share
					  </label>
					</div>
			        <div class="modal-footer">
			        <span style="margin-right:20px" id=""> Comments: </span>
			        	
			       		<textarea style="width:55%" class="field span10" id="figure_bookmark_description" rows="3" placeholder="Figure Description"></textarea>
			
			       
			          <a href="#" data-dismiss="modal" class="btn">Close</a>
			          <a href="#" class="btn btn-primary" id="save_plot">Plot Dataset</a>
			        </div>
			      </div>
			    </div>
			</div>


			<div class="modal" id="myModal1" data-keyboard="false">
				<div class="modal-dialog" style="width:300px;">
			      <div class="modal-content">
			        <div class="modal-header">
			        <h4 class="modal-title" id="modal-title">Processing...</h4>
			        </div>
			      </div>
			    </div>
			</div>
			
		
		</div>
	    		
	</div>

























	<div class="row-fluid">

		<div class="well col-md-2">
			<div class="row-fluid">
				<h2><font style="color:darkgrey">Classic View</font></h2>				
			</div>
			
			
			<hr class="create_tree_options">
			
			 
			<div class="row-fluid create_tree_options">
				<label for="selectD">Dataset:</label>
				<br>
				<select id="selectD" multiple="multiple"></select>
				<br>
			</div>
			<br>
			
			<div class="row-fluid create_tree_options">
				<label for="selectP">Package:</label>
				<br>
				<select id="selectP" multiple="multiple"></select>
				<br>
			</div>
			<br>
			
			<button type="button" class="btn btn-default" id="dataset_selected" onclick="toggle_varSelect()">Next</button> 
			 
			<div id="variables_div" style="display:none">
			<hr>
			<div class="row-fluid create_tree_options">
				<label for="selectV">Variables:</label>
				<br>
				<select id="selectV" multiple="multiple"></select>
				<br>

			</div>
			<br class="create_tree_options">
			
			<div class="row-fluid create_tree_options">
				<label for="selectT">Times:</label>
				<br>
				<select id="selectT" multiple="multiple"></select>
				<br>

			</div>
			<br class="create_tree_options">
			
			<hr class="create_tree_options">
			
			
			<br>
			
			<div class="row-fluid create_tree_options" id="viz_button">
				
				<button type="button" class="btn btn-default" id="save_tree">Plot Dataset</button>
			</div>
			</div>
		</div>


		<div class="col-md-10">

			<div class="row-fluid">
				<ul class="nav nav-pills">

				</ul>
			</div>

			<div class="row-fluid">
			
			<button type="button" id="go_Land_Home_Button"  onclick="go_Land_Home()">Back to Land Home</button>
			<button type="button" id="go_Atm_Home_Button" onclick="go_Atm_Home()" style="display:none">Back to Atm Home</button>
			
				<div class="row" style="border: 1px solid #000000;" id="dataviewer">
					<div class="col-md-7" style="overflow:scroll; border-right: 1px solid #000000;height:900px;max-height:900px;">
						
						<div id="landHome">
					
									
									<BODY>
									<TABLE>
									  <TH><A HREF="http://www.cgd.ucar.edu/tss/clm/diagnostics/index.html">
									<font color=blue>LND_DIAG Diagnostics Plots</font></A>
									<font color=black>Source: /tmp/proj/cli017/cli017bgc/y9s/lnd_diag
									</TABLE>
									<hr noshade size=2 size="100%">
									<TABLE>
									<TR>
									  <TH><font color=red>Set</font>
									  <TH ALIGN=LEFT><font color=red>Description</font>
									<TR>
									  <TH>1
									  <TH ALIGN=LEFT>  <a class="classic_toggle_sets" id="classicland_set1" href="#"> Line plots</A> of annual trends in energy balance, soil water/ice and temperature, runoff, snow water/ice, photosynthesis </b><br>
									<TR>
									  <TH>2
									  <TH ALIGN=LEFT> Horizontal  <a class="classic_toggle_sets" id="classicland_set2" href="#">contour plots</A> of DJF, MAM, JJA, SON, and ANN means </b><br>
									<TR>
									  <TH>3
									  <TH ALIGN=LEFT>  <a class="classic_toggle_sets" id="classicland_set3"  href="#">Line plots</A> of monthly climatology: regional air temperature, precipitation, runoff, snow depth, radiative fluxes, and turbulent fluxes </b><br>
									<TR>
									  <TH>4
									  <TH ALIGN=LEFT><span style="font-style:italic; font-weight: bold; color: rgb(255,0,0);">(Inactive)</span> Vertical profiles at selected land raobs stations </b><br>
									<TR>
									  <TH>5
									  <TH ALIGN=LEFT>  <a class="classic_toggle_sets" id="classicland_set5"  href="#">Tables</A> of annual means </b><br>
									<TR>
									  <TH>6
									  <TH ALIGN=LEFT>  <a class="classic_toggle_sets" id="classicland_set6" href="#">Line plots</A> of annual trends in regional soil water/ice and temperature, runoff, snow water/ice, photosynthesis </b><br>
									<TR>
									  <TH>7
									  <TH ALIGN=LEFT>  <a class="classic_toggle_sets" id="classicland_set7" href="#">Line plots, tables, and maps</A> of RTM river flow and discharge to oceans </b><br>
									<TR>
									  <TH>8
									  <TH ALIGN=LEFT><span style="font-style:italic; font-weight: bold; color: rgb(255,0,0);">(Inactive)</span> Line and contour plots of Ocean/Land/Atmosphere CO2 exchange</b><br>
									<TR>
									  <TH>9
									  <TH ALIGN=LEFT>  <a class="classic_toggle_sets" id="classicland_set9" href="#">Contour plots</A> and statistics for precipitation and temperature. Statistics include DJF, JJA, and ANN biases, and RMSE, correlation and standard deviation of the annual cycle relative to observations</b><br>
									<TR>
									
									</table>
									<hr noshade size=2 size="100%">
									<em>Click on Plot Type</em></b><p>
									<a class="classic_figure_sets" id="figure_set1" href="#"><img src="/static/exploratory_analysis/img/classic/SET1sn.gif" align=left border=1 hspace=1 alt="Set 1"></a>
									<a class="classic_figure_sets" id="figure_set2" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET2sn.gif" align=left border=1 hspace=1 alt="Set 2"></a>
									<a class="classic_figure_sets" id="figure_set3" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET3s.gif" align=left border=1 hspace=1 alt="Set 3"></a>
									<a class="classic_figure_sets" id="figure_set6" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET6sn.gif" align=left border=1 hspace=1 alt="Set 6"></a>
									<a class="classic_figure_sets" id="figure_set7" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET7sn.gif" align=left border=1 hspace=1 alt="Set 7"></a>
									
									<!-- 
									<a onclick="toggle_vis2()" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET2sn.gif" align=left border=1 hspace=1 alt="Set 2"></a>
									<a onclick="toggle_vis3()" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET3s.gif" align=left border=1 hspace=1 alt="Set 3"></a>
									<a onclick="toggle_vis6()" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET6sn.gif" align=left border=1 hspace=1 alt="Set 6"></a>
									<a onclick="toggle_vis7()" href="#"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET7sn.gif" align=left border=1 hspace=1 alt="Set 7"></a>
									 -->
									<br clear=left>
									<p>
									<br clear=left>
									<p>
									</BODY>

						</div>
						
				
				
						<div id="atmHome" style="display:none">
					
									
									<BODY>
									<TABLE>
									<TH><br>
									<A HREF="http://www.cgd.ucar.edu/cms/rneale/tools/amwg_diagnostics.html">
									<font color=red>AMWG Diagnostics Package</font></A><br>
									<font color=maroon size=+3><b>
									t85f09.B1850
									</b></font>
									<TH VALIGN=BOTTOM>
									<img src="images/OBS.gif" hspace=10 width=400 align=left alt="OBS logo">
									<TH VALIGN=MIDDLE>
									<b>Plots Created </b><br>
									Sun May 22 17:42:21 EDT 2011
									</table>
									</b></font>
									<hr noshade size=2 size="100%">
									<TABLE width='1150' >
									<TR>
									<TD>
									  <TH ALIGN=left VALIGN=top>
									  <font color=blue>Set</font>
									  <font color=blue>Description</font><br>
                                      <font color=red>Top Ten</font><a class="classic_toggle_sets" id="classicatm_topten" href="#">Tier 1A/Top Ten</a> summary for this dataset.<br>
									  <font color=red>1</font> <A  class="classic_toggle_sets" id="classicatm_set1" HREF="#">Tables</A> of ANN, DJF, JJA, global and regional means and RMSE.<br>
									  <font color=red>2</font> <A  class="classic_toggle_sets" id="classicatm_set2" HREF="#">Line plots</A> of annual implied northward transports.<br>
									  <font color=red>3</font> <A  class="classic_toggle_sets" id="classicatm_set3" HREF="#">Line plots</A> of DJF, JJA and ANN zonal means<br>
									  <font color=red>4</font> Vertical <A  class="classic_toggle_sets" id="classicatm_set4" HREF="#">contour plots</A> of DJF, JJA and ANN zonal means<br>
									  <font color=red>4a</font> Vertical (XZ) <A  class="classic_toggle_sets" id="classicatm_set4a" HREF="#">contour plots</A> of DJF, JJA and ANN meridional means<br>
									  <font color=red>5</font> Horizontal <A  class="classic_toggle_sets" id="classicatm_set5" HREF="#">contour plots</A> of DJF, JJA and ANN means <br>
									  <font color=red>6</font> Horizontal <A  class="classic_toggle_sets" id="classicatm_set6" HREF="#">vector plots</A> of DJF, JJA and ANN means <br>
									  <font color=red>7</font> Polar <A  class="classic_toggle_sets" id="classicatm_set7" HREF="#">contour and vector plots</A> of DJF, JJA and ANN means<br>
									  <font color=red>8</font> Annual cycle <A  class="classic_toggle_sets" id="classicatm_set8" HREF="#">contour plots</A> of zonal means <br>
									  <font color=red>9</font> Horizontal <A  class="classic_toggle_sets" id="classicatm_set9" HREF="#">contour plots</A> of DJF-JJA differences <br>
									  <font color=red>10</font> Annual cycle line <A  class="classic_toggle_sets" id="classicatm_set10" HREF="#">plots</A> of global means<br>
									  <font color=red>11</font> Pacific annual cycle, Scatter plot <A  class="classic_toggle_sets" id="classicatm_set11" HREF="#">plots</A><br>
									  <font color=red>12</font> Vertical profile <A  class="classic_toggle_sets" id="classicatm_set12" HREF="#">plots</A> from 17 selected stations<br>
									  <font color=red>13</font> ISCCP cloud simulator <A  class="classic_toggle_sets" id="classicatm_set13" HREF="#">plots</A> <br>
									  <font color=red>14</font> Taylor Diagram <A  class="classic_toggle_sets" id="classicatm_set14" HREF="#">plots</A> <br>
									  <font color=red>15</font> Annual Cycle at Select Stations <A  class="classic_toggle_sets" id="classicatm_set15" HREF="#">plots</A> <br><br>
									
									  
									  <a  class="classic_toggle_sets" id="classicatm_set1" HREF="set1/set1.htm"><img src="images/SET1.gif"      border=1 hspace=10 vspace=3 alt="Set 1"></a> 
									  <a  class="classic_toggle_sets" id="classicatm_set1" href="set14/set14.htm"><img src="images/SET14.gif"   border=1 hspace=10 vspace=3 alt="Set 14"></a><br>
									   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  TABLES  
									   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp METRICS 
									  
									
									</TD>
									
									<!-- 
									<TD>
									<TH ALIGN=LEFT>
									<em>Click on Plot Type</em></b><p>
									  <a href="set2/set2.htm"><img src="images/SET2.gif"  border=1 hspace=3 alt="Set 2"></a>
									  <a href="set3/set3.htm"><img src="images/SET3.gif"   border=1 hspace=3 alt="Set 3"></a>
									  <a href="set4/set4.htm"><img src="images/SET4.gif"   border=1 hspace=3 alt="Set 4"></a>
									  <a href="set4a/set4a.htm"><img src="images/SET4a.gif"   border=1 hspace=3 alt="Set 4a"></a><br>
									  <a href="set5_6/set5_6.htm"><img src="images/SET5_6.gif"   border=1 hspace=3 vspace=3 alt="Set 5 & 6"></a>
									  <a href="set7/set7.htm"><img src="images/SET7.gif"    border=1 hspace=3 vspace=3 alt="Set 7"></a>
									  <a href="set8/set8.htm"><img src="images/SET8.gif"    border=1 hspace=3 vspace=3 alt="Set 8"></a>
									  <a href="set9/set9.htm"><img src="images/SET9.gif"   border=1 hspace=3 vspace=3 alt="Set 9"></a><br>
									  <a href="set10/set10.htm"><img src="images/SET10.gif"   border=1 hspace=3 vspace=3 alt="Set 10"></a>
									  <a href="set11/set11.htm"><img src="images/SET11.gif"   border=1 hspace=3 vspace=3 alt="Set 11"></a>
									  <a href="set12/set12.htm"><img src="images/SET12.gif"   border=1 hspace=3 vspace=3 alt="Set 12"></a>
									  <a href="set13/set13.htm"><img src="images/SET13.png"   border=1 hspace=3 vspace=3 alt="Set 13"></a>
									  <a href="set15/set15.htm"><img src="images/SET15.png"   border=1 hspace=3 vspace=3 alt="Set 15"></a>
									</TH>
									</TD>
									 -->
									</TR>
									</TABLE>
									<hr noshade size=2 size="100%">
									</BODY>

						</div>
				
						
						<div id="lmwg_set1_html" style='display: none'>
						</div>
						<div id="lmwg_set2_html" style='display: none'>
						</div>
						<div id="lmwg_set3_html" style='display: none'>
						</div>
						<div id="lmwg_set5_html" style='display: none'>
						</div>
						<div id="lmwg_set6_html" style='display: none'>
						</div>
						<div id="lmwg_set7_html" style='display: none'>
						</div>
						<div id="lmwg_set9_html" style='display: none'>
						</div>
						
                        <div id="amwg_topten_html" style='display: none'>
                        </div>
						<div id="amwg_set1_html" style='display: none'>
						</div>
						<div id="amwg_set2_html" style='display: none'>
						</div>
						<div id="amwg_set3_html" style='display: none'>
						</div>
						<div id="amwg_set4_html" style='display: none'>
						</div>
						<div id="amwg_set4a_html" style='display: none'>
						</div>
						<div id="amwg_set5_html" style='display: none'>
						</div>
						<div id="amwg_set6_html" style='display: none'>
						</div>
						<div id="amwg_set7_html" style='display: none'>
						</div>
						<div id="amwg_set8_html" style='display: none'>
						</div>
						<div id="amwg_set9_html" style='display: none'>
						</div>
						<div id="amwg_set10_html" style='display: none'>
						</div>
						<div id="amwg_set11_html" style='display: none'>
						</div>
						<div id="amwg_set12_html" style='display: none'>
						</div>
						<div id="amwg_set13_html" style='display: none'>
						</div>
						<div id="amwg_set14_html" style='display: none'>
						</div>
						<div id="amwg_set15_html" style='display: none'>
						</div>
						
						
						<!--  
						<div id="1energyBalance" style='display: none'>							
						</div>
						-->
						<!--
						<div id="2contourPlots"  style='display: none'>
						</div>
						-->
						<!-- 
						<div id="3monthlyClimatology" style='display: none'>
						</div>
						
						<div id="5tablesAnual" style='display: none'>
						</div>
						
						<div id="6anualTrends" style='display: none'>
						</div>
						
						<div id="7rtm" style='display: none'>
						</div>
						
						<div id="9econtourStats" style='display: none'>
						</div>
						 -->
						
					</div>
					
					<div id="plotArea" style="overflow:scroll">
						<span style="margin-left:10px;font-weight:bold"> Plot for Selected Dataset</span>
						<body>
							<p>	Selected Plots</p>
						</body>
					</div>
					
					
					<div align="center">
						<button id="unglue" type="button" onclick="ungluePlot()">Unlock</button>
					</div>
					
				</div>
			
			
			</div>
			

		</div>

	</div>

</div>
</body>


<!-- 
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
 -->
<link rel="stylesheet" type="text/css" href="{% static 'exploratory_analysis/css/jquery/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.0/css/dataTables.responsive.css">


<!-- 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  -->

<script type="text/javascript" src="{% static 'exploratory_analysis/js/jquery/jquery-ui.min.js' %}"></script>

<script type="text/javascript" src="{% static 'exploratory_analysis/js/jquery/ui.multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'exploratory_analysis/js/jquery/jquery.multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'exploratory_analysis/js/jquery/jquery.multiselect.filter.js' %}"></script>

<script src="{% static 'exploratory_analysis/js/d3/d3.min.js' %}"></script>
<script src="{% static 'exploratory_analysis/js/classic/classic.js' %}"></script>
<script src="{% static 'exploratory_analysis/js/parameters.js' %}"></script>
<script src="{% static 'exploratory_analysis/js/tree/bookmarks.js' %}"></script>
<script src="{% static 'exploratory_analysis/js/tree/savetree.js' %}"></script>
<script src="{% static 'exploratory_analysis/js/tree/saveplot.js' %}"></script>
<script src="{% static 'exploratory_analysis/js/tree/retrieveplot.js' %}"></script>
<script src="{% static 'exploratory_analysis/js/jquery/overlay.js' %}"></script>

<script>

function getUsernameFromURL(url) {
	
	//reverse the string
	var i = url.length-1
	var username = '';
	var done = false;
	while (!done) {
		console.log('i: ' + i + ' ' + url[i]);
		if((url[i] == '/') && (i != url.length-1)) {
			done = true;
		}
		if(url[i] != '/') {
			username = url[i] + username;
		}
		i--;		
	}
	
	return username;
}

$(document).ready(function(){


	$body = $("body");
	
	
	console.log('get the user name here ' + document.URL);
	
	var current_username = getUsernameFromURL(document.URL)
	
	
	//var current_username = 'jfhCSSEF';
	console.log('current_username: ' + current_username);
	
	
	getDatasets(current_username);
	
	getPackages(current_username);
	
	//getVariables(current_username);
	
	//getTimes(current_username);
	
	
	
	
	

	var treeloaded = $('#treeloaded').html();
	
	//for post requests, need to get the csrf token
	function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    
	console.log('csrftoken ' + csrftoken);
	

	/*Ray commented out to always display dataset selection
	 * $('.create_tree_options').hide();
	 * */
	
	

	
/* Ray commented out
	
	$('#create_tree').click(function(){
		
		if(this.innerHTML == "Cancel") {
			$('.create_tree_options').hide();
			this.innerHTML = "Create New Tree";
		} else {
			$('.create_tree_options').show();
			$('#dataviewer').hide();
			this.innerHTML = "Cancel";
		}
			
	});
*/
	
	console.log('treeloaded: ' + treeloaded);

	
	
	if(treeloaded == 'false')
		$('#dataviewer').hide();
	
	
	$('#test').click(function() {
		

		console.log('csrftoken in test ' + csrftoken);
		
		var data = {'csrfmiddlewaretoken': csrftoken};
		var fileUrl = 'http://localhost:8081/exploratory_analysis/test/';
		$.ajax({
			  type: "POST",
			  url: fileUrl,
			  async: false,
			  data: data,
			  success: function()
			  { 
				  console.log('success');
			  },
			  error: function(xhr, status, error) {
				  console.log('error'); 
			    if(xhr.status==404)
			    { 
			    	
			    }
			  }
			});
		
		
	});
	
});

</script>

<!-- old style of land diags
									<TR>
									  <TH>3
									  <TH ALIGN=LEFT>  <a onclick="toggle_vis3()" href="#">Line plots</A> of monthly climatology: regional air temperature, precipitation, runoff, snow depth, radiative fluxes, and turbulent fluxes </b><br>
									<TR>
									  <TH>4
									  <TH ALIGN=LEFT><span style="font-style:italic; font-weight: bold; color: rgb(255,0,0);">(Inactive)</span> Vertical profiles at selected land raobs stations </b><br>
									<TR>
									  <TH>5
									  <TH ALIGN=LEFT>  <a onclick="toggle_vis5()" href="#">Tables</A> of annual means </b><br>
									<TR>
									  <TH>6
									  <TH ALIGN=LEFT>  <a onclick="toggle_vis6()" href="#">Line plots</A> of annual trends in regional soil water/ice and temperature, runoff, snow water/ice, photosynthesis </b><br>
									<TR>
									  <TH>7
									  <TH ALIGN=LEFT>  <a onclick="toggle_vis7()" href="#">Line plots, tables, and maps</A> of RTM river flow and discharge to oceans </b><br>
									<TR>
									  <TH>8
									  <TH ALIGN=LEFT><span style="font-style:italic; font-weight: bold; color: rgb(255,0,0);">(Inactive)</span> Line and contour plots of Ocean/Land/Atmosphere CO2 exchange</b><br>
									<TR>
									  <TH>9
									  <TH ALIGN=LEFT>  <a onclick="toggle_vis9()" href="#">Contour plots</A> and statistics for precipitation and temperature. Statistics include DJF, JJA, and ANN biases, and RMSE, correlation and standard deviation of the annual cycle relative to observations</b><br>
									<TR>
									 -->

{% endblock %}
