{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">

	</div>

	<span id="mapview_username" style="display:none">{{username}}</span>

	<div class="row">

		<div class="col-md-2">

			<div class="row">
				<div class="dropdown"  id="dropdown-dataset-container" >
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Datasets<b class="caret"></b></a>
					<ul class="dropdown-menu dropdown-dataset-menu">

					</ul>
				</div>

			</div>

			<div class="row" style="margin-top:20px;padding-top:5px;border-top: 10px outset #ffffff">
				<div style="margin-top:10px;">
					Dataset: <span id="dataset_name"></span>
				</div>

			</div>
			<div class="row" style="margin-top:20px;padding-top:5px;border-top: 10px outset #ffffff" >

				<div id="buttons" class="demo" style="float: left">

					<a rel="#mies4" id="mies4b" style="display: none"<br>
					<button type="button" class="btn btn-default" ><a rel="#mies1" id="mies1b"> Select View </a> </button><br>
					<button type="button" class="btn btn-default" ><a rel="#mies2" id="mies3b"> Focus </a></button><br>
					<button type="button" class="btn btn-default" ><a rel="#mies3" id="mies2b"> Help </a></button>
					</div>
					</div>
					</div>

					<div class="col-md-10">

					<div class="row">
					<div class="col-md-12">

					<div class="apple_overlay" style="demo" id="mies1">
					<h3><font color="white">Custom View</font></h3>
					<label for="selectXX"><font color="white">Column:</font></label>
					<br>
					<select id="selectXX" multiple="true" style="width:540px"></select>
					<br>
					<br>
					<br>
					<label for="selectYY"><font color="white">Row:</font></label>
					<br>
					<select id="selectYY" multiple="true" style="width:540px"></select>
					<br>
					<br>
					<br>
					<button class="first last" onclick="editview()">
						Apply
					</button>
				</div>

				<div id="mies4" class="apple_overlay">

				</div>

				<div class="apple_overlay" style="demo" id="mies2">
					<h3><font color="white">Go to:</font></h3>
					<label for="selectX"><font color="white">Column:</font></label>
					<br>
					<select id="selectX" multiple="multiple" style="width:540px"></select>
					<br>
					<br>
					<br>
					<label for="selectY"><font color="white">Row:</font></label>
					<br>
					<select id="selectY" multiple="multiple" style="width:540px"></select>
					<br>
					<br>
					<br>
					<button class="first last" onclick="gotoselected()">
						Go
					</button>
				</div>

				<br>

				<div id="container" style="float: none">

					<div id="chart" sytle="float: left;width: 80%;"></div>

				</div>

				<div class="apple_overlay" id="mies3">

					<img src="Slide1.jpg" />

				</div>

				<br>
				<div id="spinner"></div>

			</div>
		</div>

	</div>

</div>

</div>

{% endblock %}

