
{% extends "base.html" %}

{% block content %}

    
    	<div class="container">
    		<div class="row">
    			<div class="span-12">
    				<div class="page-header">
		     			<h1>UV-CDAT+ Experimental Prototype</h1>
		   			</div>
		   		
    			</div>
	    		
    		</div>
    		<div class="row">
    			<div class="col-md-12">
					<p class="lead">This website is a rapid prototype to illustrate what is possible
		    		for a web-enabled climate data analysis framework. Initially named UV-CDAT+ (UV-CDAT Plus),
		    		this prototype uses a responsive CSS and HTML framework (call Bootstrap) and D3.js
		    		so that it adapts to your viewport and device.
    			</div>
    		</div>
    		

		</div>
    
    
	
    
{% endblock %}