
{% extends "base.html" %}

{% load staticfiles %}



{% block content %}


<!-- Bootstrap core CSS -->
	<link href="{% static 'exploratory_analysis/css/bootstrap/bootstrap.css' %}" rel="stylesheet" />
	
	<link href="{% static 'exploratory_analysis/css/sticky-footer-navbar.css' %}" rel="stylesheet" />
	<link href="{% static 'exploratory_analysis/css/navbar-fixed-top.css' %}" rel="stylesheet" />
	<link href="{% static 'exploratory_analysis/css/grid.css' %}" rel="stylesheet" />
	
	<link href="{% static 'exploratory_analysis/css/tree/style.css' %}" rel="stylesheet" />


    <style type="text/css">

.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }


		html {
			overflow-y: scroll;
		}
		
		.node circle {
		  cursor: pointer;
		  fill: #fff;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}
		
		.node text {
		  font-size: 11px;
		}
		
		path.link {
		  fill: none;
		  stroke: #ccc;
		  stroke-width: 1.5px;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
		
		//.x.axis path {
		//  display: none;
		//}
		
		.line {
		  fill: none;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}
		
		.overlay {
		    fill: none;
		    pointer-events: all;
		}
		
		.focus circle {
		    fill: none;
		    stroke: black;
		}
		
		.focus line {
		    fill: none;
		    stroke: black;
		    stroke-width: 1;
		}
		

    </style>
    
    
    <body>

<!-- <div class="greentext">index.htm </div> -->


<!-- Fixed navbar -->
		

	 <div class="form-signin">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <input type="text" class="input-block-level" id='username' placeholder="Username">
	        <input type="password" class="input-block-level" id='password' placeholder="Password">
	        
	        <label class="checkbox">
	          <input type="checkbox" value="remember-me"> Remember me
	        </label>
	        <button class="btn btn-large btn-primary" type="submit" id="signin">Sign in</button>
	        <button class="btn btn-large btn-primary" type="submit" id="register">Register</button>
	     
	     	<div id="registration_form" style="display:none">
		     	<br>
		        </br>
		        
		     	<input type="text" class="input-block-level" id='register_username' placeholder="Username">
		        <input type="password" class="input-block-level" id='register_password' placeholder="Password">
		        <input type="text" class="input-block-level" id='register_email' placeholder="email">
		        
	     	</div>
	     	
	</div>	
	
    <script src="{% static 'exploratory_analysis/js/jquery/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'exploratory_analysis/js/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'exploratory_analysis/js/bootstrap/bootstrap-combobox.js' %}"></script>
	<script src="{% static 'exploratory_analysis/js/d3/d3.min.js' %}"></script>
	

	<script type="text/javascript">
	
	$(document).ready(function(){

		
		//for post requests, need to get the csrf token
		function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	    var csrftoken = getCookie('csrftoken');
	    
		console.log('csrftoken ' + csrftoken);
		
		
		$('#signin').click(function(){
			
			var username = $('#username').val();
	        var password = $('#password').val();
	        var email = $('#email').val();
			
			
			var input_data = {
					'csrfmiddlewaretoken': csrftoken,
					'username':username,
					'password':password,
					'email':email
			}
			
			
			//var url = 'http://localhost:8081/exploratory_analysis/timeseries1/';
			var url = 'http://localhost:8081/exploratory_analysis/auth/';
			
			
			$.ajax({
				  type: "POST",
				  url: url,
				  data: input_data,
				  success: function(data)
				  { 
					  console.log(data);
					  if(data == 'Authenticated') {
						  console.log('Authenticated - go to the main page with the username');
						  window.location = 'http://localhost:8081/exploratory_analysis/main/' + username;
					  } else {
						  console.log('Not authenticated - stay on page');
					  }
					  
				  },
				  error: function(xhr, status, error) {
					  console.log('error'); 
				    if(xhr.status==404)
				    { 
				    	
				    }
				  }
				});
			
			
		});
		
		
		$('#register').click(function(){

			if(this.innerHTML == 'Register') {
				this.innerHTML = 'Save';
				$('#registration_form').show('slow');
				
			} else {
				
		        var register_username = $('#register_username').val();
		        var register_password = $('#register_password').val();
		        var register_email = $('#register_email').val();
				
				
				var input_data = {
						'csrfmiddlewaretoken': csrftoken,
						'register_username':register_username,
						'register_password':register_password,
						'register_email':register_email
				}
				
				
				//var url = 'http://localhost:8081/exploratory_analysis/timeseries1/';
				var url = 'http://localhost:8081/exploratory_analysis/register/';
				
				
				$.ajax({
					  type: "POST",
					  url: url,
					  data: input_data,
					  success: function(data)
					  { 
						  console.log('success ' + data);
					  },
					  error: function(xhr, status, error) {
						  console.log('error'); 
					    if(xhr.status==404)
					    { 
					    	
					    }
					  }
				});
				
				
				this.innerHTML = 'Register';
				$('#registration_form').hide();
			}
			
			
		})
		
	});


	</script>

    
</body>


{% endblock %}
