

{% extends "base.html" %}

	

{% block content %}
<!--  
	<div class="container">
   	 	<div class="page-header">
     		<h1>UV-CDAT+ Experimental Prototype</h1>
   		</div>
  		<p class="lead">This website is a rapid prototype to illustrate what is possible
    		for a web-enabled climate data analysis framework. Initially named UV-CDAT+ (UV-CDAT Plus),
    		this prototype uses a responsive CSS and HTML framework (call Bootstrap) and D3.js
    		so that it adapts to your viewport and device.
    </div>
-->    

    
    	<div class="container">
    		<div class="row">
    			<div class="span-12">
    				<div class="page-header">
		     			<h1>UV-CDAT+ Experimental Prototype</h1>
		   			</div>
		   		
    			</div>
	    		
    		</div>
    		
			<div class="row">
			
				<div class="col-md-2">
				
					<div class="row">
						<div class="dropdown"  id="dropdown-dataset-container" >
	               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Datasets<b class="caret"></b></a>
	               			<ul class="dropdown-menu dropdown-dataset-menu">
	               			
			             	</ul>
				     	</div>
					
					</div>
					<div class="row" style="margin-top:20px">
					</div>
					<div class="row">
						<div class="dropdown" id="dropdown-variable-container" style="display:none">
	               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Variables<b class="caret"></b></a>
	               			<ul class="dropdown-menu dropdown-variable-menu">
	               			
	               			<!--  
			                    <li><a href="all.html">All</a></li>
			                    <li class="variable_menu" id="AR"><a href="#" >AR</a></li>
			                    <li class="variable_menu" id="BTRAN"><a href="#">BTRAN</a></li>
			                    -->
			             	</ul>
				     	</div>
					
					</div>
					<div class="row" style="margin-top:20px">
					</div>
					<div class="row">
						<div class="dropdown" id="dropdown-time-container" style="display:none">
		               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Time Series<b class="caret"></b></a>
		               			<ul class="dropdown-menu dropdown-time-menu">
				                    <li><a href="all.html">All</a></li>
				                    <li class="time_menu" id="AR"><a href="#" >AR</a></li>
				                    <li class="time_menu" id="BTRAN"><a href="#">BTRAN</a></li>
				             </ul>
				     	</div>
					
					</div>
					
					<div class="row" style="margin-top:20px;padding-top:5px;border-top: 10px outset #ffffff">
						<div style="margin-top:10px;">
							Dataset: <span id="dataset_name"></span>
						</div>
						<div style="margin-top:10px;">
							Variable: <span id="variable_name"></span>
						</div>
						<div style="margin-top:10px;">
							Time: <span id="time_name"></span>
						</div>
						
					</div>
					<div class="row" style="margin-top:20px;padding-top:5px;border-top: 10px outset #ffffff" id="viz_button">
						<button type="button" class="btn btn-default" >Submit</button>
					</div>
				</div>
				
				<div class="col-md-10">
				
					<div id="map-canvas" class="map-canvas-panel"></div> 
				
				</div>
				
				
				
				
			</div>
	  		

		</div>
    
    
	
    
{% endblock %}