{% extends "base.html" %}


{% load staticfiles %}
	

{% block content %}

<div class="container-fluid">
	<!--
	<div class="row-fluid">
	<div class="span-12">
	<div class="page-header">
	<h1>UV-CDAT:EA </h1>
	</div>

	</div>

	</div>-->

	<span id="mapview_username" style="display:none">{{username}}</span>

	<div class="row-fluid">

		<div class="well col-md-2">
			<div class="row-fluid">
				<h2><font style="color:darkgrey">Geo</font></h2>
			</div>
			<hr>
			
			<div class="row-fluid">
				<label for="selectD">Dataset:</label>
				<br>
				<select id="selectD" multiple="multiple"></select>
				<br>
				<!--
				<div class="dropdown"  id="dropdown-dataset-container" >
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Datasets<b class="caret"></b></a>
					<ul class="dropdown-menu dropdown-dataset-menu">

					</ul>
				</div>
				-->

			</div>
			<br>
			<div class="row-fluid">
				<label for="selectV">Variable:</label>
				<br>
				<select id="selectV" multiple="multiple"></select>
				<br>
				<!--
				<div class="dropdown"  id="dropdown-dataset-container" >
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Datasets<b class="caret"></b></a>
					<ul class="dropdown-menu dropdown-dataset-menu">

					</ul>
				</div>
				-->

			</div>
			<br>
			<div class="row-fluid" id="viz_button">
				<button type="button" class="btn btn-default" >
					Submit
				</button>
			</div>
			<hr>
			<h4>Animate</h4>
			<div class="row-fluid">
				<div class="col-md-12">
					<button type="button" class="btn btn-default" onclick="play_button()" style="display:null">
						<span>Play</span>
					</button>
				
					<button type="button" class="btn btn-default" onclick="stop_button()" style="display:null">
						<span>Stop</span>
					</button>

				</div>
			</div>
		</div>

		<div class="col-md-10">



			<div class="row-fluid">
				<div class="col-md-12">
					<div id="map-canvas" class="map-canvas-panel"></div>
					<div id="map_plot_canvas1"></div>
				</div>
			</div>

		</div>

	</div>

</div>

<script type="text/javascript" src="{% static 'exploratory_analysis/js/geo/variablelist.js' %}"></script>
<script type="text/javascript" src="{% static 'exploratory_analysis/js/geo/timelist.js' %}"></script>
<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<script type="text/javascript" src="{% static 'exploratory_analysis/js/heatmap/ui.multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'exploratory_analysis/js/heatmap/jquery.multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'exploratory_analysis/js/heatmap/jquery.multiselect.filter.js' %}"></script>
<script src="{% static 'exploratory_analysis/js/d3/d3.min.js' %}"></script>

{% endblock %}