
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container">
    		<div class="row">
    			<div class="span-12">
    				<div class="page-header">
		     			<h1>UV-CDAT+ Experimental Prototype</h1>
		   			</div>
		   		
    			</div>
	    		
    		</div>
    		
			<div class="row">
			
				<div class="col-md-2">
				
					<div class="row">
						<div class="dropdown"  id="dropdown-dataset-container" >
	               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Datasets<b class="caret"></b></a>
	               			<ul class="dropdown-menu dropdown-dataset-menu">
	               			
			             	</ul>
				     	</div>
					
					</div>
					<div class="row" style="margin-top:20px">
					</div>
					<div class="row">
						<div class="dropdown" id="dropdown-variable-container" style="display:none">
	               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Variables<b class="caret"></b></a>
	               			<ul class="dropdown-menu dropdown-variable-menu">
	               			
	               			<!--  
			                    <li><a href="all.html">All</a></li>
			                    <li class="variable_menu" id="AR"><a href="#" >AR</a></li>
			                    <li class="variable_menu" id="BTRAN"><a href="#">BTRAN</a></li>
			                    -->
			             	</ul>
				     	</div>
					
					</div>
					<div class="row" style="margin-top:20px">
					</div>
					<div class="row">
						<div class="dropdown" id="dropdown-time-container" style="display:none">
		               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Time Series<b class="caret"></b></a>
		               			<ul class="dropdown-menu dropdown-time-menu">
				                    <li><a href="all.html">All</a></li>
				                    <li class="time_menu" id="AR"><a href="#" >AR</a></li>
				                    <li class="time_menu" id="BTRAN"><a href="#">BTRAN</a></li>
				             </ul>
				     	</div>
					
					</div>
					
					<div class="row" style="margin-top:20px;padding-top:5px;border-top: 10px outset #ffffff">
						<div style="margin-top:10px;">
							Dataset: <span id="dataset_name"></span>
						</div>
						<div style="margin-top:10px;">
							Variable: <span id="variable_name"></span>
						</div>
						<div style="margin-top:10px;">
							Time: <span id="time_name"></span>
						</div>
						
					</div>
					<div class="row" style="margin-top:20px;padding-top:5px;border-top: 10px outset #ffffff" id="viz_button">
						<button type="button" class="btn btn-default" >Submit</button>
					</div>
				</div>
				
				<div class="col-md-10">
				
					<p>Insert tree here</p>
				
					<div id="body">
				      <div id="footer">
				        LND_DIAG 
				        <div class="hint">click or option-click to expand or collapse</div>
				      </div>
				    </div>
				    <canvas id = "image_canvas" width = "900" height = "500"></canvas>
				    
				</div>
				
				
				
			</div>
</div>



{% endblock %}

	<script src="{% static 'exploratory_analysis/js/bootstrap-alert.js' %}"></script>