
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<style>

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*
.thumbnail {
    display:block;
    padding:4px;
    overflow:hidden;
}

.thumbnail{
    width:225px;
    height:225px;
    overflow:hidden;
    padding:4px;
    display:block;
}

.thumbnail1 img {
    display:block;
    max-height:100%;
    max-width:100%;
    border:0;
}


svg {
  overflow-x:visible;
}
*/

</style>

<div class="container">
<!--  
    		<div class="row">
    			<div class="span-12">
    				<div class="page-header">
		     			<h1>UV-CDAT+ Experimental Prototype</h1>
		   			</div>
		   		
    			</div>
	    		
    		</div>
  -->  		
			<div class="row">
				<div class="col-md-5" style="border: 1px solid #000000">
					<div id="treeimg" style="overflow-x:visible">
					</div>
					<div class="col-md-2">
					<div class="col-md-2 scrollable" id="gallery"  style="overflow:scroll;max-height:800px">
						<ul class='thumbnails1' style="overflow:scroll;list-style-type: none;">
			
						</ul>
					</div>
					</div>
				
				</div>
			
			
			
			
			
			
			
			
			<!--  
				<div class="col-md-2">
				
					<div class="row">
						<div class="dropdown"  id="dropdown-dataset-container" >
	               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Datasets<b class="caret"></b></a>
	               			<ul class="dropdown-menu dropdown-dataset-menu">
	               			
			             	</ul>
				     	</div>
					
					</div>
					<div class="row" style="margin-top:20px">
					</div>
					<div class="row">
						<div class="dropdown" id="dropdown-variable-container" style="display:none">
	               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Variables<b class="caret"></b></a>
	               			<ul class="dropdown-menu dropdown-variable-menu">
			             	</ul>
				     	</div>
					
					</div>
					<div class="row" style="margin-top:20px">
					</div>
					<div class="row">
						<div class="dropdown" id="dropdown-time-container" style="display:none">
		               			<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLM Time Series<b class="caret"></b></a>
		               			<ul class="dropdown-menu dropdown-time-menu">
				                    <li><a href="all.html">All</a></li>
				                    <li class="time_menu" id="AR"><a href="#" >AR</a></li>
				                    <li class="time_menu" id="BTRAN"><a href="#">BTRAN</a></li>
				             </ul>
				     	</div>
					
					</div>
					
					<div class="row" style="margin-top:20px;padding-top:5px;border-top: 10px outset #ffffff">
						<div style="margin-top:10px;">
							Dataset: <span id="dataset_name"></span>
						</div>
						<div style="margin-top:10px;">
							Variable: <span id="variable_name"></span>
						</div>
						<div style="margin-top:10px;">
							Time: <span id="time_name"></span>
						</div>
						
					</div>
					<div class="row" style="margin-top:20px;padding-top:5px;border-top: 10px outset #ffffff" id="viz_button">
						<button type="button" class="btn btn-default" >Submit</button>
					</div>
				</div>
				
				<div class="col-md-10">
				
					<p>Insert tree here</p>
				
					<div id="body">
				      <div id="footer">
				        LND_DIAG 
				        <div class="hint">click or option-click to expand or collapse</div>
				      </div>
				    </div>
				    <canvas id = "image_canvas" width = "900" height = "500"></canvas>
				    
				</div>
			-->	
				
				
</div>
</div>


{% endblock %}

	<script src="{% static 'exploratory_analysis/js/bootstrap-alert.js' %}"></script>
	<script src="{% static 'exploratory_analysis/js/jquery/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'exploratory_analysis/js/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'exploratory_analysis/js/bootstrap/bootstrap-combobox.js' %}"></script>
	<script src="{% static 'exploratory_analysis/js/d3/d3.min.js' %}"></script>
	
	
	
	<script>
	
/*	
	$(document).ready(function(){

	
		
		$('a#add_image').click(function(){
			//alert('add');
			var appended = '<div class="row"><div class="col-md-12">a</div></div>';
			$('div#gallery').append(appended);
			//alert('added: ' + appended);
		});
		
		
	});

	
	var margin = {top: 20, right: 120, bottom: 20, left: 120},
    width = 960 - margin.right - margin.left,
    height = 800 - margin.top - margin.bottom;
    
var i = 0,
    duration = 750,
    root;

var tree = d3.layout.tree()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("#treeimg").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .attr("style","overflow-x:visible")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


d3.json("{% static 'exploratory_analysis/img/treeex/flare.json' %}", function(error, flare) {
  root = flare;
  root.x0 = height / 2;
  root.y0 = 0;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }

  root.children.forEach(collapse);
  update(root);
});



d3.select(self.frameElement).style("height", "800px");



//Toggle children on click.
function click(d) {
if (d.children) {
	  alert('in if');
	  d._children = d.children;
   d.children = null;
} else {
	  //alert('in else ');
	  
	  if(d['_children'] == undefined) {
		  alert('this is a leaf');
		  var name = d['name'];
		  console.log('name: ' + name);
		  
		  for(var key in d) {
			  console.log('key: ' + key + ' val: ' + d[key]);
		  }
		  
		  var staticImg = "{% static 'exploratory_analysis/img/carousel/set6_turbf_Global.gif' %}";
		  
		  var addedListing = ' <li style="padding:10px;border: 1px solid #000000;list-style-type: none;">' +
		  	'<a class="thumbnail">' +
		  	'<img src="' + staticImg + '" style="max-width:150px;display: block;" />' +
		  	'</a>' +
		  	'<div style="padding:10px">' +
			'info for ' + name + 
			'</div>' +
		  	'</li>';
		  	
		  	//
		  addedListing += '<div>' +
			'info here' +
			'</div>';
		  	//
		  	
		  
		  //
		  <li style="padding:10px;border-bottom: 1px solid black">
			<a class='thumbnail'>
			<img src="{% static 'exploratory_analysis/img/carousel/set6_turbf_Global.gif' %}" style="max-width:150px;display: block;" />
			</a>
			<div>
			info here
			</div>
			</li>
		  //
		  
		  //add an image
		  var appended = '<div class="row"><div class="col-md-12">'+ name + '</div></div>';
		  //$('div#gallery').append(appended);
		  $('div#gallery').append(addedListing);
		  //console.log('adding: ' + addedListing);
		  //$('ul.thumbnails1').append(addedListing);
			
		  
	  }
 d.children = d._children;
 d._children = null;
}
update(d);
}
	

function update(source) {

}

*/	
	
	
	
	
	
	</script>
	
	
	
	