<HTML>
<HEAD>
<TITLE>Set 5 Diagnostic Plots</TITLE>
<link rel="shortcut icon" href="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/3Dglobe.gif">
</HEAD>
<BODY BGCOLOR="bisque">
<img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/3Dglobe.gif" border=1 hspace=10 align=left alt="Set List">
<p>
<font color=maroon size=+3><b>
<font color=maroon size=+3><b>i1850cn_cruncep_CNDA_Cli_b_2000-2009<br> 
and<br>
i1850cn_cruncep_ctl_2000-2009<br></b></font></a> 
</b></font>
 <p> 
 <a href="../setsIndex.html">
<font color=blue><b>Back to diagnostic sets</b></font></a> 
<br clear=left> 
 <p> 
<b><font color=maroon size=+2>Set 5 Description: <b></font>Tables of annual means </b><br>
<br clear=left> 
 <p> 
<A HREF="variableList_5.html" target="set5_Variables">
<font color=maroon size=+1 text-align: right><b>Lookup Table: Set 5 Variable Definition</b></font></a>
<br> 
 <p> 
<hr noshade size=2 size="100%">
<TABLE> 
 <TR>
   <TH ALIGN=LEFT><font color=red>TABLE</font>
<TR>
  <TH ALIGN=LEFT>Regional Hydrologic Cycle
  <TH ALIGN=LEFT><font color=black><A HREF="set5_hydReg.txt">Table</a></font>
  <TH><TH ALIGN=LEFT><font color=black><A HREF="set5_DhydReg.txt">Difference Table</a></font>
<TR>
  <TH ALIGN=LEFT>Global Biogeophysics
  <TH ALIGN=LEFT><font color=black><A HREF="set5_clm.txt">Table</a></font>
  <TH><TH ALIGN=LEFT><font color=black><A HREF="set5_Dclm.txt">Difference Table</a></font>
<TR>
  <TH ALIGN=LEFT>Global Carbon/Nitrogen
  <TH ALIGN=LEFT><font color=black><A HREF="set5_cn.txt">Table</a></font>
  <TH><TH ALIGN=LEFT><font color=black><A HREF="set5_Dcn.txt">Difference Table</a></font>
<TR>
<TR>
