<HTML>
<HEAD>
<TITLE>Set 7 Diagnostic Plots</TITLE>
<link rel="shortcut icon" href="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET7sn.gif">
</HEAD>
<BODY BGCOLOR="bisque">
<img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET7sn.gif" border=1 hspace=10 align=left alt="Set List">
<p>
<font color=maroon size=+3><b>
<font color=maroon size=+3><b>i1850cn_cruncep_CNDA_Cli_b_2000-2009<br> 
and<br>
i1850cn_cruncep_ctl_2000-2009<br></b></font></a> 
</b></font>
 <p> 
 <a href="../setsIndex.html">
<font color=blue><b>Back to diagnostic sets</b></font></a> 
<br clear=left> 
 <p> 
<b><font color=maroon size=+2>Set 7 Description: <b></font>Line plots, tables, and maps of RTM river flow and discharge to oceans </b><br>
<br clear=left> 
 <p> 
<hr noshade size=2 size="100%">
<TABLE> 
 <TR>
   <TH ALIGN=LEFT><font color=red>TABLE</font>
<TR>
  <TH ALIGN=LEFT>RTM flow at station for world's 50 largest rivers
  <TH ALIGN=LEFT><font color=black><A HREF="set7_table_RIVER_STN_VOL.txt">table</a></font>
<TR>
  <TH ALIGN=LEFT><font color=red>SCATTER PLOTS</font>
<TR>
  <TH ALIGN=LEFT>RTM flow at station versus obs for world's 10 largest rivers (QCHANR)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_scatter_50riv.gif">plot</a></font>
<TR>
  <TH ALIGN=LEFT><font color=red>LINE PLOTS</font>
<TR>
  <TH ALIGN=LEFT>Mean annual cycle of river flow at station for world's 10 largest rivers (QCHANR)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_mon_stndisch_10riv.gif">plot</a></font>
<TR>
  <TH ALIGN=LEFT>Annual discharge into the Global Ocean (QCHOCNR)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_ann_disch_globalocean.gif">plot</a></font>
<TR>
  <TH ALIGN=LEFT>Annual discharge into the Atlantic Ocean (QCHOCNR)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_ann_disch_atlantic.gif">plot</a></font>
<TR>
  <TH ALIGN=LEFT>Annual discharge into the Indian Ocean (QCHOCNR)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_ann_disch_indian.gif">plot</a></font>
<TR>
  <TH ALIGN=LEFT>Annual discharge into the Pacific Ocean (QCHOCNR)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_ann_disch_pacific.gif">plot</a></font>
<TR>
  <TH ALIGN=LEFT>Mean annual cycle of discharge into the oceans (QCHOCNR)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_mon_disch.gif">plot</a></font>
<TR>
  <TH ALIGN=LEFT><font color=red>MAPS</font>
<TR>
  <TH ALIGN=LEFT>Station locations (50 largest rivers)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_stations.gif">Map</a></font>
<TR>
  <TH ALIGN=LEFT>Ocean Basins
  <TH ALIGN=LEFT><font color=black><A HREF="set7_ocean_basin_index.gif">Map</a></font>
<TR>
  <TH ALIGN=LEFT>River Flow (QCHANR)
  <TH ALIGN=LEFT><font color=black><A HREF="set7_ANN_QCHANR_Ac.gif">Model1</a></font>
<TR>
  <TH ALIGN=LEFT><font color=red>VARIABLES</font>
<TR>
  <TH ALIGN=LEFT>QCHANR 
  <TH ALIGN=LEFT>NativeUnits [m^3/s] 
<TR>
  <TH ALIGN=LEFT>QCHOCNR 
  <TH ALIGN=LEFT>NativeUnits [m^3/s] 
<TR>
