<HTML>
<HEAD>
<TITLE>LND_DIAG Diagnostic Plots</TITLE>
</HEAD>
<BODY BGCOLOR="bisque">
<img src="http://www.cgd.ucar.edu/cms/mstevens/amwg/images/NCAR.gif" border=1 hspace=10 align=left alt="NCAR logo">
<p>
<font color=maroon size=+3><b>
<font color=maroon size=+3><b>i1850cn_cruncep_CNDA_Cli_b_2000-2009<br> 
and<br>
i1850cn_cruncep_ctl_2000-2009<br></b></font></a> 
<TR>
</b></font>
<br clear=left>
<p>
<TABLE>
  <TH><A HREF="http://www.cgd.ucar.edu/tss/clm/diagnostics/index.html">
<font color=blue>LND_DIAG Diagnostics Plots</font></A>
<font color=black>Source: /tmp/proj/cli017/cli017bgc/y9s/lnd_diag
</TABLE>
<hr noshade size=2 size="100%">
<TABLE>
<TR>
  <TH><font color=red>Set</font>
  <TH ALIGN=LEFT><font color=red>Description</font>
<TR>
  <TH>1
  <TH ALIGN=LEFT>  <A HREF="set1.html">Line plots</A> of annual trends in energy balance, soil water/ice and temperature, runoff, snow water/ice, photosynthesis </b><br>
<TR>
  <TH>2
  <TH ALIGN=LEFT> Horizontal  <A HREF="set2.html">contour plots</A> of DJF, MAM, JJA, SON, and ANN means </b><br>
<TR>
  <TH>3
  <TH ALIGN=LEFT>  <A HREF="set3.html">Line plots</A> of monthly climatology: regional air temperature, precipitation, runoff, snow depth, radiative fluxes, and turbulent fluxes </b><br>
<TR>
  <TH>4
  <TH ALIGN=LEFT><span style="font-style:italic; font-weight: bold; color: rgb(255,0,0);">(Inactive)</span> Vertical profiles at selected land raobs stations </b><br>
<TR>
  <TH>5
  <TH ALIGN=LEFT>  <A HREF="sset5.html">Tables</A> of annual means </b><br>
<TR>
  <TH>6
  <TH ALIGN=LEFT>  <A HREF="set6.html">Line plots</A> of annual trends in regional soil water/ice and temperature, runoff, snow water/ice, photosynthesis </b><br>
<TR>
  <TH>7
  <TH ALIGN=LEFT>  <A HREF="set7.html">Line plots, tables, and maps</A> of RTM river flow and discharge to oceans </b><br>
<TR>
  <TH>8
  <TH ALIGN=LEFT><span style="font-style:italic; font-weight: bold; color: rgb(255,0,0);">(Inactive)</span> Line and contour plots of Ocean/Land/Atmosphere CO2 exchange</b><br>
<TR>
  <TH>9
  <TH ALIGN=LEFT>  <A HREF="set9.html">Contour plots</A> and statistics for precipitation and temperature. Statistics include DJF, JJA, and ANN biases, and RMSE, correlation and standard deviation of the annual cycle relative to observations</b><br>
<TR>
</table>
<hr noshade size=2 size="100%">
<em>Click on Plot Type</em></b><p>
<a href="set1/set1.html"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET1sn.gif" align=left border=1 hspace=1 alt="Set 1"></a>
<a href="set2/set2.html"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET2sn.gif" align=left border=1 hspace=1 alt="Set 2"></a>
<a href="set3/set3.html"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET3s.gif" align=left border=1 hspace=1 alt="Set 3"></a>
<a href="set6/set6.html"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET6sn.gif" align=left border=1 hspace=1 alt="Set 6"></a>
<a href="set7/set7.html"><img src="http://www.cgd.ucar.edu/tss/clm/diagnostics/images/SET7sn.gif" align=left border=1 hspace=1 alt="Set 7"></a>
<br clear=left>
<p>
<br clear=left>
<p>
</BODY>
</HTML>
